<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add a new service</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link th:replace="fragments/navBar.html :: topnavcss">
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/static/script/navbar.js" defer></script>
</head>
<body>
<div th:replace="fragments/navBar.html :: topnav"></div>
<form method="post">
    <label for="name"><b>Service Name</b></label>
    <input type="text" placeholder="Enter Service Name" id="name" name="name" required>

    <label for="description"><b>Description</b></label>
    <textarea placeholder="Enter Description" id="description" name="description" required></textarea>

    <label for="price"><b>Price</b></label>
    <input type="number" step="0.01" placeholder="Enter Price" id="price" name="price" required>

    <select name="serviceCategoryId" required>
        <option value="" disabled selected>Category</option>
        <option th:each="category : ${serviceCategories}"
                th:value="${category.id}"
                th:utext="${category.name}"/>
    </select>

    <button type="submit">Add service</button>
</form>
</body>
</html>