<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new service</title>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en" defer></script>
    <script src="/static/script/serviceLocationAutoComplete.js" defer></script>
</head>
<body>
<form method="post">
    <label for="name"><b>Service Name</b></label>
    <input type="text" placeholder="Enter Service Name" id="name" name="name" required>

    <label for="description"><b>Description</b></label>
    <textarea type="text" placeholder="Enter Description" id="description" name="description" required></textarea>

    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter Location" id="city" name="city" required>

    <label for="price"><b>Price</b></label>
    <input type="number" placeholder="Enter Price" id="price" name="price" required>

    <button type="submit">Add service</button>
</form>
</body>
</html>