<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="fragments/navBar.html :: topnavcss">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/static/script/navbar.js" defer></script>
</head>
<body>
<div th:replace="fragments/navBar.html :: topnav"></div>
<br>
<br>
<br>
<br>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero ex, congue id vehicula et, commodo quis orci. Sed sagittis maximus scelerisque. Quisque convallis molestie pulvinar. Integer nec congue dolor, nec condimentum felis. Maecenas id porttitor ex, at ullamcorper turpis. Donec consequat nunc quis massa egestas, sed interdum felis maximus. Sed nec sapien ullamcorper, euismod tortor eu, tincidunt urna.

Aliquam mollis, orci at faucibus luctus, urna lacus tristique mi, vel semper dolor dui a lectus. Etiam semper ultricies nulla. Vivamus mollis, quam ut condimentum pellentesque, turpis leo congue turpis, a tempor magna nisl hendrerit nibh. Morbi tempus tincidunt neque sed interdum. Etiam at posuere augue. Aenean consectetur a nibh vitae lobortis. Suspendisse sodales justo libero, sed sodales odio accumsan vel. Curabitur ac sem pulvinar, ultrices diam id, faucibus sem. Nullam id sapien vel odio gravida gravida.

Cras varius lacus lacinia hendrerit congue. Phasellus tincidunt sed sapien et tempor. Nulla vel eros quis velit feugiat fermentum. Suspendisse aliquam erat a tempus fermentum. Quisque sed euismod lectus, non rhoncus lectus. Sed varius nibh et tellus dignissim lacinia. Proin vitae pharetra metus. Nullam sed sapien malesuada, convallis arcu nec, sodales orci. Cras dignissim, nisl sed laoreet tincidunt, lacus sem interdum tortor, at vehicula metus arcu vel erat. Etiam sed neque vulputate, sodales nunc volutpat, accumsan turpis. In finibus eget nibh molestie consectetur. Morbi consequat erat sem, vitae volutpat massa iaculis nec. Vivamus fermentum posuere viverra.

Nullam eros enim, tempor in ultricies vel, blandit molestie est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Aliquam a porta mi. Nulla tristique elit ut varius placerat. Donec vitae felis aliquam, efficitur nisi ac, sollicitudin ipsum. Etiam tincidunt nisl libero, a venenatis libero malesuada eget. Fusce varius ante sodales erat luctus, quis sodales turpis feugiat. Ut in suscipit mauris. Fusce egestas erat vel turpis aliquam aliquet. Ut eget ipsum arcu. Proin lacinia turpis in aliquam mattis. Aenean vitae commodo nunc, quis tristique sapien. Aliquam sed viverra odio, consectetur suscipit orci. Sed a scelerisque mauris.

Duis lectus libero, vehicula non leo nec, egestas cursus justo. Aenean pretium, dolor eu semper convallis, orci libero vulputate risus, nec faucibus magna mi vitae tellus. Quisque vel libero nec sapien viverra malesuada. Sed vitae nunc magna. Vivamus porta, metus in accumsan tempus, nibh justo congue lorem, et aliquet massa quam ut lectus. Nunc a lectus eget ante rutrum facilisis. Fusce quis felis tincidunt, ullamcorper odio in, dignissim libero. Morbi nec varius odio.



</body>
</html>