

.contact_button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    z-index: 3;
}

.contact_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.contact_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.contact_button:hover span {
    padding-right: 25px;
}

.contact_button:hover span:after {
    opacity: 1;
    right: 0;
}

.scene {
    -webkit-transition: 1s;
    -webkit-transform:rotateX(0deg) rotateY(0deg);
}

.scene_turn {
    -webkit-transition: 1s;
    -webkit-transform:rotateX(90deg) rotateY(0deg);
    transition-delay: 0.5s;

}

.scene_turn_left {
    -webkit-transition: 1s;
    -webkit-transform:rotateX(90deg) rotateZ(180deg);
    transition-delay: 0.5s;

}

.con1{
    position: relative;
    width: 100%;
    height: 200px;
    -webkit-transition:1s;
    transition-delay: 0.5s;
}
.con1_turn {
    height: 500px;
    -webkit-transition: 1s;
}


#tridiv {
    perspective: 800px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 108%;
}



.face {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1);
}
.scene, .shape, .face, .face-wrapper, .cr {
    position: absolute;
    transform-style: preserve-3d;
}
.scene {
    width: 80em;
    height: 80em;
    top: 50%;
    left: 50%;
    margin: -40em 0 0 -40em;
}
.shape {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-origin: 50%;
}
.face, .face-wrapper {
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
    background-size: 100% 100%!important;
    background-position: center;
}
.face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%
}
.photon-shader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.side {
    left: 50%;
}
.cr, .cr .side {
    height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
    width: 100%;
    height: 100%;
}
[class*="cuboid"] .bk {
    left: 100%;
}
[class*="cuboid"] .rt {
    transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
    transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
    transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
    transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
    left: 100%;
}
[class*="cuboid"] .bm {
    top: 100%;
}
/* .cub-1 styles */
.cub-1 {
    transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:60em;
    height:7em;
    margin:-3.5em 0 0 -30em;
}
.cub-1 .ft {
    transform:translateZ(12.5em);
}
.cub-1 .bk {
    transform:translateZ(-12.5em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
    width:25em;
    height:7em;
    background: #f4511e;
}
.cub-1 .tp, .cub-1 .bm {
    width:60em;
    height:25em;
    text-align: center;
}

.cub-1 .bm {
    background:url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg);
}
.cub-1 .face {
    background-color:#FFFFFF;
}
.cub-1 .tp {
}


.serviceContainer {
    position: relative;
    width: 80%;
    margin-top: 4cm;
    margin-left: auto;
    margin-right: auto;

}


.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 2px solid black;
    position: relative;
}
.grid_container_details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    position: relative;
    justify-items: center;
}

.sort_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 2ch;


}



.item, .sort_button {
    text-align: center;
    padding: 1em;

}


.dropbtn {
    color: black;
    padding: 13px;
    font-size: 16px;
    border: 2px solid black;
}

.dropdown {
    position: absolute;
    right: 50px;
    top: 8px;

}

.row {
    margin-bottom: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000000;
    color: white;

}

