.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 2em;
}

/*
.first-column {
    !* Start on Row 2 *!
    grid-row: 1;
    !* Start on the first column line and stop at the next column line *!
    grid-column: 1 / 2;
}

.second-column {
    !* Start on Row 2 *!
    grid-row: 1;
    !* Start on the second column line and stop at the third column line *!
    grid-column: 2 / 3;
}

.third-column {
    !* Start on Row 2 *!
    grid-row: 1;
    !* Start on the third column line and stop at the last column line *!
    grid-column: 3 / 4;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
}

form {
    display: grid;
    grid-template-columns: 150px 100px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 2em;
}

!*fieldset textarea {
    width:100%;
    height:100%;
    box-sizing: border-box;         !* For IE and modern versions of Chrome *!
    -moz-box-sizing: border-box;    !* For Firefox                          *!
    -webkit-box-sizing: border-box; !* For Safari                           *!

}*!

.second-column > fieldset {
    grid-column: 2/4;
    grid-column: span 2;
}


*/
body {

}