<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/navbar.css" th:fragment="topnavcss">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="script/navbar.js" defer></script>
</head>
<body>
<div>
    <nav th:fragment="topnav">
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            LOGO
        </div>
        <div class="menu">
            <ul>
                <li><a href="/introduction">Introduction</a></li>
                <li><a href="/list">Services</a></li>
                <li th:if="${session.role == 'USER'}"><a href="/profile">Profile</a></li>
                <li th:if="${session.role == 'ADMIN'}"><a href="/admin" >Admin</a></li>
                <li th:if="${session.userId == null}"><a href="/registration" >Registration</a></li>
                <li th:if="${session.userId == null}"><a href="/login" >Login</a></li>
                <li th:if="${session.userId != null}"><a href="/logout" >Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
</div>
</body>
</html>