.wrapper{
    position: absolute;
    width: 100%;
    height: auto;
    top: 10%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    text-align: center;

}

.firstColumn {
    position: relative;
}
textarea {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    resize: none;
}
#profileImage {
    width: 80%;
    height: auto;
}
#imageInput {
    position: relative;
    top: 10px;
}
.complogo{
    width: 80%;
    height: auto;
}